aws_region   = "eu-west-1"
project_name = "techcorp"

bastion_instance_type = "t3.micro"
web_instance_type     = "t3.micro"
db_instance_type      = "t3.small"

key_pair_name = "your-key-name"

my_ip = "YOUR-IP/32"